<p><%= @greeting %></p>

<p>El día de hoy te encuentras en la posición <%= @pos %>. Con <%= @points %> puntos.</p>

<p>Para ver los resultados completos, ingresa el link que se muestra a continuación!</p>

<p>Para una correcta visualización del contenido, visualizar la página en Firefox, Chrome o Safari</p>

<% if @type_of_bet %>
	<p><%= link_to "Resultados generales Suerte", results_url(host: "http://pollatlm.herokuapp.com")  %></p>
<% else %>
	<p><%= link_to "Resultados generales Excel", excel_url(host: "http://pollatlm.herokuapp.com")  %></p>
<% end %>