<h1>Listing forecasts</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Forecast1</th>
      <th>Forecast2</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @forecasts.each do |forecast| %>
      <tr>
        <td><%= forecast.group %></td>
        <td><%= forecast.forecast1 %></td>
        <td><%= forecast.forecast2 %></td>
        <td><%= forecast.user_id %></td>
        <td><%= link_to 'Show', forecast %></td>
        <td><%= link_to 'Edit', edit_forecast_path(forecast) %></td>
        <td><%= link_to 'Destroy', forecast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forecast', new_forecast_path %>
